<div class="container">
  <div class="row justify-content-center">
    <div class="col-20 col-xl-10 col-md-10">
      <div class="card">
        <div class="card-header">
          Lista de empleados:
        </div>
        <div class="card-body">
          <form [formGroup]="formularioEmpleado">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
              <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
              <input type="text" class="form-control" placeholder="Email" formControlName="email">
              <input type="text" class="form-control" placeholder="Telefono" formControlName="telefono">
              <input type="text" class="form-control" placeholder="Puesto" formControlName="puesto">
              <button class="btn btn-primary" type="button" [disabled]="formularioEmpleado.invalid"
                (click)="agregarEmpleado()"
              >Agregar</button>
            </div>
          </form>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nombreBusqueda" type="search">
            <button class="btn btn-primary" type="button"
              (click)="obtenerEmpleados()"
            >Buscar</button>
          </div>
          <div class="card-body col d-flex justify-content-between">
            <label>Id</label>
            <label>Nombre</label>
            <label>Apellido</label>
            <label>Email</label>
            <label>Teléfono</label>
            <label>Puesto</label>
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let empleado of listaEmplados">
              <div class="d-flex justify-content-between">
                <label>{{empleado.id}}</label>
                <label>{{empleado.nombre}}</label>
                <label>{{empleado.apellido}}</label>
                <label>{{empleado.email}}</label>
                <label>{{empleado.telefono}}</label>
                <label>{{empleado.puesto}}</label>
              </div>
            </li>
          </ul>
          <div class="col d-flex justify-content-center m-3">
            <button class="btn btn-primary" type="button" *ngIf="pagina>1" name="fieldName" ngDefaultControl [(ngModel)]="pagina"
              (click)="pagina=pagina-1" (click)="obtenerEmpleados()" 
            >Anterior</button>
            <button class="btn btn-primary" type="button" *ngIf="pagina>=1 && listaEmplados.length==10" name="fieldName" ngDefaultControl [(ngModel)]="pagina"
              (click)="pagina=pagina+1" (click)="obtenerEmpleados()"
            >Siguiente</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
