<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-4 col-md-6">
      <div class="card">
        <div class="card-header">
          Lista de empleados:
        </div>
        <div class="card-body">
          <form [formGroup]="formularioEmpleado">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
              <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
              <input type="text" class="form-control" placeholder="Email" formControlName="email">
              <input type="number" class="form-control" placeholder="Telefono" formControlName="telefono">
              <input type="text" class="form-control" placeholder="Puesto" formControlName="puesto">
              <button class="btn btn-primary" type="button" [disabled]="formularioEmpleado.invalid"
                (click)="agregarEmpleado()"
              >Agregar</button>
            </div>
          </form>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nombreBusqueda" type="search">
            <button class="btn btn-primary" type="button"
              (click)="obtenerEmpleados()"
            >Buscar</button>
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let empleado of listaEmplados">
              <div class="d-flex justify-content-between">
                <label>{{empleado.id}}</label>
                <label>{{empleado.nombre}}</label>
                <label>{{empleado.apellido}}</label>
                <label>{{empleado.email}}</label>
                <label>{{empleado.telefono}}</label>
                <label>{{empleado.puesto}}</label>
              </div>
            </li>
          </ul>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Página" [(ngModel)]="pagina">
            <button class="btn btn-primary" type="button"
              (click)="obtenerEmpleados()"
            >Ir a</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
